/* style.css */

/* Global styles */
body {
    background: linear-gradient(135deg, #db9b34, #648471); /* Gradient background */
    color: #fff; /* Text color for better contrast */
}

/* Navbar styles */
.navbar-brand img {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    height: 40px; /* Adjust the height as needed */
    width: 40px; /* Adjust the width as needed */
}

/* Copyright bar styles */
.copyright-bar {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

/* Navigation links and login button styles */
.navbar-nav.ml-auto {
    display: flex;
    align-items: center;
}

.navbar-nav.ml-auto .nav-item {
    margin-right: 10px;
}

.navbar-nav.ml-auto .nav-item:last-child {
    margin-right: 0;
}

.navbar-nav.ml-auto .login-btn a {
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition */
}

.navbar-nav.ml-auto .login-btn a:hover {
    background-color: #dc3545; /* Change to red on hover */
}
.index-page {
    background: linear-gradient(135deg, #8e44ad, #e74c3c); /* Gradient background for index.html */
}

/* Index page specific styles */

/* Login page styles */
.container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* style.css */

/* ... (previous styles) */

/* Login button styles */
.navbar-nav.ml-auto .login-btn {
    overflow: hidden;
    border-radius: 10px;
}

.navbar-nav.ml-auto .login-btn a {
    display: block;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s; /* Add smooth transition */
    background-color: #007bff; /* Default blue background color */
}

.navbar-nav.ml-auto .login-btn a:hover {
    background-color: #dc3545; /* Change to red on hover */
}

.google-signup {
    background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: center;
    
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}